.form-group.has-danger .error {
	color: #ef8157;
}

.has-danger .form-control {
	background-color: #ffc0a4;
	color: #ef8157;
}
.terms {
    color: #ef8157;
}

.has-success{
	color: green;
}

.swal2{
	display: none;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 32em;
    max-width: 100%;
    padding: 1.25em;
    border-radius: .3125em;
    background: #fff;
    font-family: inherit;
    font-size: 1rem;
    box-sizing: border-box;
}